<div id='page_wrapper'>
    <div id='profile_image'>
        <%= image_tag 'profile.jpeg'%>
    </div>
    <div id='content'>
        <h1> It's me, Buddy! </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing, elit tincidunt tellus ornare magna curabitur consequat, pellentesque magnis sodales gravida nibh. Condimentum erat etiam malesuada maecenas in facilisis iaculis ante enim tempor pretium, mus proin commodo ut blandit non massa feugiat litora magnis. Arcu class magna dignissim erat nulla vitae sociis phasellus fusce auctor integer, congue sollicitudin fermentum etiam consequat rhoncus quis lobortis nec augue, porttitor pharetra inceptos donec ut odio varius cursus praesent vulputate.</p> 
    </div>
</div>